# Основы программирования в Python

*Алла Тамбовцева, НИУ ВШЭ*

*Данный ноутбук частично основан на [лекции](http://python.math-hse.info:8080/github/ischurov/pythonhse/blob/master/Lecture%201.ipynb) Щурова И.В., [курс](http://math-info.hse.ru/s15/m) «Программирование на языке Python для сбора и анализа данных» (НИУ ВШЭ).*

## Типы данных в Python и приведение типов

Типы данных:

* *integer (int)*: целочисленный тип, целые числа;
* *float*: вещественный тип, числа с плавающей точкой, они же дробные;
* *string (str)*: строковый или текстовый тип;
* *boolean (bool)*: булев или логический тип, значения `True` и `False`.

С целочисленным типом и числами с плавающей точкой мы уже познакомились. Посмотрим, как определить тип переменной:

In [1]:
x = 2.34
type(x)

float

In [2]:
y = 2
type(y)

int

Или всё вместе через `print()`:

In [3]:
print(type(x), type(y))

<class 'float'> <class 'int'>

Чтобы создать переменную строкового типа, нужны кавычки, причём использовать можно как двойные, так и одинарные:

In [4]:
text = "hello"
text2 = 'hello'
type(text)

str

Иногда требуется преобразовать тип переменной, например, из числа с плавающей точкой сделать целое число. Зачем это бывает нужно? Для удобства и для более корректной выдачи результатов. Например, у нас есть база данных по респондентам, в которой указан их год рождения, и мы хотим добавить столбец с возрастом респондентов (числом полных лет). Из-за того, что кто-то ввел год в виде 1993.0, возраст при вычислениях тоже получится числом с плавающей точкой — 25.0. Так как мы знаем, что возраст всегда будет целым, чтобы дробная часть не смущала, можно привести все значения к целочисленному типу.

In [5]:
int(25.0)

25

Вообще функции для изменения типа переменных называются так же, как и сами типы или их сокращённые названия.

In [6]:
float(23)

23.0

In [7]:
str(2)

'2'

Однако, если преобразование невозможно, Python выдаст ошибку (а точнее, исключение `ValueError`, про исключения поговорим позже):

In [8]:
float('23,56')

ValueError: could not convert string to float: '23,56'

Так как запятая в Python не воспринимается как десятичный разделитель (в качестве разделителя используется точка), превратить строку '23,56' в число не получится, нужно будет сначала заменить запятую на точку. Как работать со строками, мы обсудим позже, но если интересно, можно сделать следующее: создать любую строковую переменную, а потом после её названия поставить точку и нажать *Tab*. Так же, как и в случае с модулем `math`, выпадет список всех возможных методов, которые можно применять к строке.

В Python активно реализуется перегрузка операторов, которая выражается в том, что одни и те же операторы могут выполнять разные задачи в зависимости от типа данных, к которым они применяются. Если говорить совсем формально и залезать в терминологию объектно-ориентированного программирования, для Python характерен полиморфизм – разное поведение операций и методов на разных классах. О классах мы будем говорить позже, а пока посмотрим на примеры такого поведения.

In [9]:
one = "abc"
two = "def"

one + two

'abcdef'

По идее, при исполнении кода выше мы должны были получить ошибку, нельзя применять сложение не к числам. Но нет: операция сложения в Python на строках тоже имеет смысл – она обеспечивает конкатенацию (склеивание) строк. А можно ли умножать строку на число? Давайте проверим:

In [10]:
one * 2

'abcabc'

Как выяснилось, можно. Здесь операция умножения работает как в математике: умножить число на число – то же самое что сложить это число необходимое количество раз. А складывать строки (то есть склеивать) Python умеет.
Но, конечно, аналогии не могут продолжаться бесконечно:

In [11]:
# возведение строки в степень – уже перебор
one ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## Ввод и вывод

### Ввод информации с клавиатуры

Иногда возникает необходимость запросить какую-нибудь информацию у пользователя — попросить ввести её с клавиатуры. Это может быть нужно, например, когда мы пытаемся имитировать заполнение какой-нибудь формы (собрать информацию и обработать) или написать функцию, которая будет работать по-разному в зависимости от режима ("Если хотите выгрузить данные из файла, нажмите 1, если хотите вводить данные вручную, введите 2"). 

Запросить данные с клавиатуры можно с помощью функции `input()`:

In [12]:
input()

Name

'Name'

Однако обычно нам нужно не просто вывести на экран то, что ввёл пользователь (он и сам это видит), но и сохранить введенную информацию. Сделаем это (и заодно перейдём к числам).

In [13]:
num = input("Введите число: ")

Введите число: 5

Теперь мы можем работать с переменной `num`, в которую мы сохранили результат ввода с клавиатуры.

In [14]:
num

'5'

Введенное нами число 5 сохранилось. Однако, если посмотреть внимательнее, это не совсем число, это строка! Проверим:

In [15]:
type(num)  # действительно

str

Функция `input()` всегда возвращает обект типа *string*. Тут нам и пригодится преобразование типов переменных:

In [16]:
num = int(num)
num

5

И теперь всё сразу: правильно и компактно.

In [17]:
num = int(input("Введите число: "))
num

Введите число: 5

5

Раз мы не предлагаем пользователю ввести именно целое число, число может быть любым, даже дробным. Учтём это – будем конвертировать введенный текст в число с плавающей точкой.

In [18]:
num = float(input("Введите число: "))
num

Введите число: 5

5.0

С клавиатуры можно вводить сколько угодно объектов:

In [19]:
numbers = input("Введите числа через пробел: ")

Введите числа через пробел: 2 3

In [20]:
numbers

'2 3'

Только тогда для работы с отдельными элементами ввода потребуется разбить строку на части по какому-нибудь символу (в нашем случае – по пробелу). О разбиении текста на части поговорим позже, когда будем обсуждать работу со строками, а пока разберём вывод информации на экран.

### Вывод информации на экран

Как мы уже знаем, для вывода чего-либо на экран в Python существует функция `print()`:

In [21]:
print(5)
print('Hello!')

5
Hello!

Для того, чтобы вывести на экран сразу несколько объектов, нужно просто перечислить их через запятую в круглых скобках.

In [22]:
year = "2023"
mon = "01"
day = "23"

print(day, mon, year)

23 01 2023

По умолчанию в качестве разделителей (отделяющих объекты друг от друга) используются пробелы. Но при желании это можно поправить, добавив аргумент `sep` (от *separator* – разделитель):

In [23]:
print(day, mon, year, sep='-')

23-01-2023

In [24]:
print(day, mon, year, sep='/')

23/01/2023

В качестве разделителя можно использовать и специальные символы, например, символ для перехода на новую строку (`\n` – от *new line*) или символ для отступа в виде красной строки (`\t` – от *tabulation*):

In [25]:
print(day, mon, year, sep='\n')

23
01
2023

In [26]:
print(day, mon, year, sep='\t')

23	01	2023

При работе с функцией `print()` важно помнить, что эта функция используется исключительно для вывода текста на экран, она ничего не возвращает – не умеет сохранять то, что выводит на экран. Если попробуем сохранить результат её исполнения, получим пустой объект – объект особого типа `None`:

In [27]:
s = print(2, 3, sep='-')
print(s)

2-3
None